<div class="userBlogPosts">
  {{#each blogpostData}}
    <div class="userPost bg-lightblue" id="editablePost" data-href="/edit/{{id}}">
      <h2>{{title}}</h2>
      <p>Posted on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</div>
<div>
  <button type="button" onclick="createPostTraveller()" class="btn btn-secondary" id="create-post">Create Post</button>
</div>


