{{!-- <p>Static text just to let me test whether this route is working</p> --}}

<div class="userBlogPosts">
  {{#each blogpostData}}
    <div class="userPost" data-href="/edit/{{id}}">
      <h2>{{title}}</h2>
      <p>Posted on {{format_date createdAt}}</p>
    </div>
  {{/each}}
</div>

