<div class="blogPosts">
  {{#each blogpostData}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{post_content}}</p>
      <p>Posted by {{Blogger.username}}</p>
    </div>
  {{/each}}
</div>
