:root {
    --bgColor: lightblue;
}


.post {
    cursor: pointer;
}

.bg-lightblue {
    background-color: var(--bgColor);
}

.login-form {
    background-color: var(--bgColor);
}

.signin-form {
    background-color: var(--bgColor);
}

.myFooter {
    text-align: center;
}